/* Media Editors */
#modal_presentation_editor,
#modal_presentation_editor {
    padding: 15px;
}
#modal_presentation_editor .modal-dialog,
#modal_presentation_editor .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0px;
}

