/* Effects */
@keyframes blinking {
  to {visibility: hidden;}
}
@keyframes spinning {
    100% { transform: rotate(360deg); }
}

/* Common */
.float-right {float:right}
.float-left {float:left}
.btn.active {
    color: #555555;
    background-color: #e7e7e7;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    outline: 0;
}

/* Custom UI */
.custom-dropdown {
    width: auto;
    height: 30px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    border: 1px solid #d2d6de;
    outline: none;
    cursor: pointer;
}
.custom-dropdown span.selected {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 15px;
    display: block;
    position: absolute;
    top: 0; left: 0;
    cursor: pointer;
}
.custom-dropdown span.selected + i.caret {
    position: relative;
    top: 13px; right: 8px;
    float: right;
    border-top: 5px solid;
}
.custom-dropdown a.selected {
    min-width: 115px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 20px;
    display: inline-block;
}
.custom-dropdown a.selected + i.caret {
    color: #3c8dbc;
    position: absolute;;
    top: 13px; right: 8px;
    float: right;
    border-top: 5px solid;
}
.custom-dropdown i.arrow:before {
    width: 0;
    height: 0;
    border-top: 5px solid #555;
}
.custom-dropdown ul {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    list-style-type: none;
    position: relative;
    top: calc(100% + 1px);
    margin-left: -1px;
    margin-right: -1px;
    background-color: white;
    border: 1px solid #d2d6de;
    opacity: 0;
    z-index: -1;
}
.custom-dropdown:focus ul {
    opacity: 1;
    z-index: 1;
}
.custom-dropdown ul li {
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    cursor: default;
}
.custom-dropdown ul li:hover {
    background: #1068b5;
    color: white;
}

/* Bootstrap Related */
label {font-weight: normal;}
ol.breadcrumb a.active {
    color: #555;
    text-decoration: none;
}
.btn-default.active:hover {background-color: #e7e7e7;}
.modal.common input {
    margin: 0 0 0; 
    vertical-align: middle;
}
.modal.common .modal-dialog {
    max-width: 450px;
}
.modal.common .modal-header,
.modal.common .modal-body,
.modal.common .modal-footer {
    padding: 15px;
}
.modal.common .btn {
    padding: 5px;
    min-width: 70px;
}
.form-control.error {
    border-color: red;
}

/* Toolbar Area. */
.content-toolbar {margin-bottom: 18px;}
.content-toolbar .btn-control {
    border-radius: 0px;
    vertical-align: top;
    background-color: white;
    border-color: #d2d6de;
}
.content-toolbar select {
    display: inline-block;
    width: auto;
}
.content-toolbar select[data-id="bulk_operation"] {display: none;}
.content-toolbar select[data-id="bulk_operation"].active {display: inline-block;}
.content-toolbar .control-left {float: left;}
.content-toolbar .form-control {padding: 0px 8px;}
.content-toolbar .control-right,
.content-toolbar .toolbar-search [data-id="search_box"] {float: right;}
.content-toolbar .toolbar-search {
    max-width: 250px;
    position: relative;
}
.content-toolbar .toolbar-search [data-id="search_box"]:focus {
    width: 250px;
    transition: width 300ms ease-out;
}
.content-toolbar .toolbar-search [data-id="search_btn"] {
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-style: none;
    padding: 0px 12px;
    background-color: transparent;
}

/* Content Area */
.content .table {background-color: white;}
.content-block {margin-bottom: 7.5px;}
.content-block .alert {margin-bottom: 0;}
.content-box {
    padding: 8px;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
th.sortable {
    cursor: pointer;
}
th.sortable:hover:after {
    display: inline;
}
th.sortable:after {
    float: right;
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    line-height: 20px;
    content: "\e150";
    display: none;
    opacity: 0.5;
}
th.sortable.asc:after {
    content: "\e113";
}
th.sortable.desc:after {
    content: "\e114";
}
th.sortable.active {
    background-color: #fff !important;
}
th.sortable.active:after {
    opacity: 1;
    display: inline !important;
}

/* Pagination */
.m-pagination {white-space: nowrap;}
.m-pagination .index {width: 50px;}
.m-pagination .index,
.m-pagination button {
    display: inline-block;
    vertical-align: middle;
}
