@import "etc/colors";

/* Main */
main #cta_block {
    width: 100%;
    height: 500px;
    border-top: 1px solid #aaa;
    position: relative;
}
main #cta_block > .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ddd;
    background-size: cover;
    background-position: center center;
}
main #cta_block .background:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 100%);
}
main #cta_block > .foreground {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
main #cta_block > .foreground .search_action {
    max-width: 500px;
    width: 100%;
    position: relative;
    top: 50%;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 5px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    display: inline-block;
}
main #cta_block > .foreground .search_action .search-hint-box {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: $frosted-glass;
    max-width: 324px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.2);
    display: none;
}
main #cta_block > .foreground .search_action .search-hint-box.active {
    display: block;
}
main #cta_block > .foreground .search_action .search-hint-box ul {
    padding-left: 0;
    background-color: transparent;
    list-style-type: none;
    margin-bottom: 0;
    border: 1px solid transparent;
}
main #cta_block > .foreground .search_action .search-hint-box ul li {
    padding: 5px 10px;
    text-align: left;
}
main #cta_block > .foreground .search_action .search-hint-box ul li.active {
    color: white;
    background-color: rgba(0,0,0,0.5);
}
main #cta_block > .foreground .search_action_container {
    width: 100% !important;
    display: table;
    background-color: $frosted-glass;
}
main #cta_block > .foreground .search_action_container > * {
    display: table-cell;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-style: none;
}
main #cta_block > .foreground .search_action .media-type {
    width: 110px;
    position: relative;
}
main #cta_block > .foreground .search_action .separator {
    width: 0px;
    padding-left: 0;
    padding-right: 0;
}
main #cta_block > .foreground .search_action .separator:after {
    content: "";
    border-right: 1px solid #aaa;
}
main #cta_block > .foreground .search_action .media-type:focus ul {
    display: block;
}
main #cta_block > .foreground .search_action .media-type ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: $frosted-glass;
    display: none;
    border: 1px solid transparent;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 1px;
}
main #cta_block > .foreground .search_action .media-type li a {
    text-decoration: none;
    color: #555;
    cursor: pointer;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
main #cta_block > .foreground .search_action .media-type li a:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
}
main #cta_block > .foreground .search_action button {
    color: #ddd;
    background-color: #e02500;
    cursor:pointer;
    text-decoration:none;
    text-shadow: 0px 1px 0px white;
    opacity: 0.8;
}
main #cta_block > .foreground .search_action button:hover {
    opacity: 0.95;
}
main #cta_block > .foreground .search_action button:active {

}
main #cta_block > .foreground .search_action #search_type {
    display: inline-block;
    cursor: pointer;
}
main #categories_block {
    margin: auto auto 30px;
}
main #categories_block > div {
    margin-bottom: 15px;
}
main #categories_block h2 {
    text-align: center;
    padding: 15px;
    margin: 20px 0 0 0;
}
main #categories_block section.container-fluid {
    padding-top: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
main #categories_block section .thumb-box {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
