/*
 * Skin: Custom Blue
 * ----------
 */
.skin-custom .main-header .navbar {
  background-color: #3c8dbc;
}
.skin-custom .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-custom .main-header .navbar .nav > li > a:hover,
.skin-custom .main-header .navbar .nav > li > a:active,
.skin-custom .main-header .navbar .nav > li > a:focus,
.skin-custom .main-header .navbar .nav .open > a,
.skin-custom .main-header .navbar .nav .open > a:hover,
.skin-custom .main-header .navbar .nav .open > a:focus,
.skin-custom .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-custom .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-custom .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-custom .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-custom .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-custom .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-custom .main-header .logo {
  background-color: #367fa9;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-custom .main-header .logo:hover {
  background-color: #357ca5;
}
.skin-custom .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-custom .content-header {
  background: transparent;
}
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
  background-color: #333;
}
.skin-custom .user-panel {
  background-color: #252525;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.skin-custom .user-panel img {
  background-color: white;
}
.skin-custom .bullet-admin {
  color: tomato;
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
  color: #fff;
}
.skin-custom .sidebar-menu > li.header {
  color: rgba(255,255,255,0.5);
  background: #222;
}
.skin-custom .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.skin-custom .sidebar-menu > li:hover > a {
  color: #ccc;
  background: #2a2a2a;
  border-left-color: #1a1a1a;
  border-bottom-color: #2f2f2f;
}
.skin-custom .sidebar-menu > li.active > a {
  color: #37A8E8;
  background: #222;
  border-left-color: #37A8E8;
  border-bottom-color: #2f2f2f;
}
.skin-custom .sidebar-menu li:active,
.skin-custom .sidebar-menu li.tree-open > a,
.skin-custom .sidebar-menu li a.focused {
  background-color: #222 !important;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.skin-custom .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2a2a2a;
  border-bottom: 1px solid #2f2f2f;
}
.skin-custom .sidebar a {
  color: #b8c7ce;
}
.skin-custom .sidebar a:hover {
  text-decoration: none;
}
.skin-custom .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-custom .treeview-menu > li.active > a,
.skin-custom .treeview-menu > li.active:hover > a {
  color: #37A8E8;
}
.skin-custom .treeview-menu > li > a:hover {
  color: #b8c7ce;
}
.skin-custom .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-custom .sidebar-form input[type="text"],
.skin-custom .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-custom .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-custom .sidebar-form input[type="text"]:focus,
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-custom .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-custom.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-custom.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
