/* Main */
main {
    /*background-color: #ddd;*/
}
main #search_bar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
main #search_bar.fixed-top {
    width: 100%;
    height: auto;
    position: fixed;
    top: 2px;
    left: 0;
    background-color: rgba(240,240,240,0.8);
    z-index: 999;
}
main #search_bar.fixed-top .of-pages {
    color: #555;
}
main #search_hint_box {
    display: none;
    position: absolute;
    width: calc(100% - 2px);
    max-width: 176px;
    left: 1px;
    top: 100%;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 1;
}
main #search_hint_box ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
}
main #search_hint_box ul li {
    padding: 5px 10px;
}
main #search_hint_box ul li.active {
    background-color: #efefef;
}
main #search_hint_box.active {
    display: block;
}
main #search_box {
    max-width: 300px;
    white-space: nowrap;
}
main #search_box .form-control {
    box-shadow: none;
}
main #search_box .input-search {
    border-right: none;
}
main #search_box .search-types {
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}
main #search_box .search-types:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 37px;
}
main #search_box .search-types:focus ul {
    display: block;
}
main #search_box .search-types a {white-space: nowrap;}
main #search_box .search-types a[rel='dropdown-link'] {
    min-width: 86px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 8px 12px 8px 13px;
    text-decoration: none;
    position: relative;
}
main #search_box .search-types a[rel='dropdown-link']:before {
    width: 1px;
    height: 20px;
    color: transparent;
    content: "";
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 2;
}
main #search_box .search-types ul {
    width: 83px;
    list-style-type: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 2px;
    padding-left: 0;
    z-index: 5;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: none;
}
main #search_box .search-types ul li {
    width: 100%;
    cursor: pointer;
}
main #search_box .search-types ul li:first-child {
    margin-top: 4px;
}
main #search_box .search-types ul li:last-child {
    margin-bottom: 4px;
}
main #search_box .search-types ul li a {
    color: #555555;
    display: block;
    padding: 8px 12px;
}
main #search_box .search-types ul li a:hover {
    background-color: #efefef;
    text-decoration: none;
}
main #search_box .search-types ul li.selected {
    font-weight: bold;
}
main #search_box .search-types ul li .fa {
    width: 0px;
    border-left: 4px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -8px;
    font-size: 10px;
    visibility: hidden;
}
main #search_box .search-types ul li.selected .fa {
    visibility: visible;
}
main .pagination_number {
    width: 60px;
    height: 36px;
    display: inline-block;
    position: relative;
    top: 1px;
}
main #thumbs_display {
    position: relative;
    left: 0;
    top: 0;
}
main #thumbs_display.scrolling-top {
    margin-top: 138px;
}
main #thumbs_display > div {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
main .thumb-box {
    position: relative;
    overflow: hidden;
}
main .thumb-box {
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px;
}
main .thumb {
    position: relative;
    background-color: #eee;

}
main .thumb img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
main .thumb .image-link {
    width: 100%;
    padding-bottom: 75%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}
main .thumb:hover .image-link {
    opacity: 1;
}
main .thumb:hover > div.title,
main .thumb:hover > div.options {
    display: block;
}

main .thumb > div.title {
    position: absolute;
    left: 8px;
    top: 6px;
    color: rgba(255,255,255,1);
    display: none;
}
main .thumb > div.options {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: rgba(255,255,255,0.8);
    display: none;
}
main .thumb > div.title,
main .thumb > div.options i {
    text-shadow: rgba(46, 46, 46, 0.5) 0px 1px 2px;
}
main .thumb > div.options b {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
}
main .thumb > div.options b:hover {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.6);
}
main .thumb:hover {
    opacity: 1;
}

@media (max-width: 585px) {
    #search_bar .container-fluid {
        text-align: center;
    }
    #search_bar .m-pagination {
        display: none;
    }
    #search_box {
        width: 100%;
        float: none;
        display: inline-block;
        text-align: center;
    }
    #search_box > div {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #bottom_bar .container-fluid {
        text-align: center;
    }
    #bottom_bar .m-pagination {
        width: 100%;
        float: none;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}